<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>,</h1>
    <p>
      it seems that you haven't given estimations on the following tasks yet:
    </p>
    <ul>
      <% @user.estimations.each do |est| %>
        <% if est.complexity.nil? %>
          <li><%= link_to est.task.name, estimation_path %></li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>
