<h1>My Projects</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Tasks</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'Show tasks', project_tasks_path(project) %></td>
    <td><%= link_to 'New task', new_project_task_path(project), class: "btn"  %></td>
  </tr> 
<% end %>
</table>
