/* @import "bootstrap"; */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar .navbar-text{
  padding: 9px 10px 11px;
  line-height: 19px;
}

/* some css for trial */

.important_info{
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 6px solid #e5e5e5;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

